

.pane {
    -fx-background-color: #e3e3e3;
}

.button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.textfield {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.menubar {
    -fx-background-color: #c2c2c2;
}

.menu .label {
    -fx-text-fill: #000000;
}



.context-menu {
    -fx-background-color: derive(#eeeeee,50%);
}

.tableview {
    -fx-background-color: #ffffff;
}

.tablecol1 {
    -fx-background-color: #dfdfdf;
    -fx-fill: #000000;
}

.tablecol2 {
    -fx-background-color: #b6b6b6;
    -fx-fill: #000000;
}



.table-row-cell{
    -fx-border-color: #dddddd;
    -fx-table-cell-border-color:#dddddd;
}

.table-view .column-header .label{
    -fx-text-fill: rgb(189, 189, 189);
}

.scroll-bar{
    -fx-opacity: 0;
}

.progress-bar{
    -fx-background-color: #ffffff;
}

.progress-indicator{
    -fx-text-fill: #dddddd;
}

.combo-box{
    -fx-background-color: #ffffff;
    -fx-text-fill: #dddddd;
}

.table-view .column-header .label{
    -fx-text-fill: #171717;
}